* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}


/*css del nav*/

.all-container {
    background-color:#30343F;
}

.header {
    background-color: #191E2B;
}

.nav-buttons {
    background-color: #191E2B;
}

.nav-tittle {
    background-color: #191E2B;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    color: white;
}

.button-image, .button-text, .button-darkmode {
    background-color: #191E2B;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
    width: 10%;
    color: white;
    border: none;
}

.button-image:hover, .button-text:hover, .button-darkmode:hover {
    cursor: pointer;
    background-color: #4E78BA;
}


.buttons-nav {
    background-color: #191E2B;
    display: flex;
    justify-content: center;
    height: 5vh;
}

.container-section {
    background-color: #30343F;
    height: 100vh;
    /*width: 60%;*/
    padding-left: 30%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-text { 
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 620px;
    height: 10vh;
    padding-top: 30px;
}

.center-text {
    background-color: black;
    height: 65vh;
    width: 620px;
}

.bottom-text {
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 620px;
    height: 10vh;
    padding-top: 20px;
}

.container-buttons-nav {
    margin-top: -150px;
    width: 80%;
    height: 80vh;
}



.panel-image, .section-panel-text {
    float: right;
    right: 0;
    top: 0;
    position: fixed;
    background-color: #252935;
    height: 100vh;
    padding: .3rem;
    width: 20%;
}

/*css de panel de texto*/

.control-panel-tittle {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 8px;
    width: 100%;
    margin-top: .5rem;
    color: white;
}

.label.text {
    border: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    display: block;
    outline: 0;
}

button {

        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        border-radius: var(--border-radius);
        transition: background-color 0.2s;
        font-size: 14px;
        cursor: pointer;
}

.container-button-align {
    display: flex;
    flex-direction: row;
}

.container-button-outline {
    display: flex;
    flex-direction: row;
}

.tittle-panel-image {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.control-panel-input-url {
    height: 1.6rem;
    width: 80%;
    border: none;
}

.control-panel-input-color, .control-panel-input-blendmode {
    height: 1.8rem;
    margin-top: .5rem;

}

.control-panel-side {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.slider {
    width: 80%;
    margin: .5rem 0;
}

.button-restore {
    font-family: 'Open Sans', sans-serif;
    padding: .3rem;
    text-align: center;
    justify-content: center;
    background-color: #4E5565;
    color: white;
}

.button-restore-container {
    justify-content: center;
    align-items: center;
}

.tittle-panel-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

label {
    color: white;
}

span {
    color: white;
}

.button-outline {
    border-radius: 4px;
    color: white;
    background-color:  #4E5565;
    margin: .3rem 0;
    margin-right: .2rem;
}

.button-align {
    border-radius: 4px;
    background-color:  #4E5565;
    margin: .3rem 0;
}

.fa-align-left, .fa-align-center, .fa-align-right {
    color: white;
}

.font-size, .control-panel-font {
    width: 80%;
    height: 1.8rem;
    margin: .4rem 0;
}

textarea {
    height: 3rem;
    width: 80%;
}

.control-panel-input {
    height: 1.8rem;
    width: 80%;
}

.check-transparent {
    margin-top: .4rem;
}

.section-panel-text {
    display: inline;
}